################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/ExamSite/v15/Server/sqlite3
/.vs/ExamSite/v15
